<ion-header mode="ios">
  <ion-toolbar mode="ios" style="padding-top: 80px;">
    <ion-title>Información</ion-title>
    <ion-buttons  style="margin-left: 20px;">
      <ion-button color="dark" (click)="navigate()"> 
        <ion-icon name="arrow-back-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title>
    <h2>Ongrass</h2>
  </ion-title>

<ion-item  style="padding-top: 10px;" >
<ion-label>
  <h4>Facebook</h4>
</ion-label>
<ion-icon name="logo-facebook"  slot="start" color="secundary"></ion-icon>
</ion-item>

<ion-item >
  <ion-label>
    <h4>Instagram</h4>
  </ion-label>
  <ion-icon name="logo-instagram" slot="start" color="secundary"></ion-icon>
</ion-item>

<ion-item lines="none" >
    <ion-label>
      <h4>Twitter</h4>
    </ion-label>
    <ion-icon name="logo-twitter" slot="start" color="secundary"></ion-icon>
  </ion-item>

<ion-title>
    <h2>Equipo Ongrass</h2>
  </ion-title>

  <ion-item style="padding-top: 10px;" lines="none" >
    <ion-avatar slot="start">
      <img src="./../../assets/profile/mao.jpg">
    </ion-avatar>
    <ion-label class="names">
      <h2>Mauricio López</h2>
      <p>Designer | Developer</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/efra.jpg">
    </ion-avatar>
    <ion-label class="names">
      <h2>Efrain Granados  </h2>
      <p>Web Developer</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none" >
    <ion-avatar slot="start">
      <img src="../../assets/profile/hubles.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Jose Hublester</h2>
      <p>IoT dev</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/perla.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Perla Reyes</h2>
      <p>IoT dev</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/brenda.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Brenda N. Celestino</h2>
      <p>Documents</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/itzel.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Itzel G. Pérez Soto</h2>
      <p>Documents</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none" >
    <ion-avatar slot="start">
      <img src="../../assets/profile/lety.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Leticia Aguirre</h2>
      <p>IoT dev</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none" >
    <ion-avatar slot="start">
      <img src="../../assets/profile/maria.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Maria G. Pastor</h2>
      <p>App Design</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/mirsa.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Mirsa G. Martinez </h2>
      <p>IoT dev </p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile/esme.png">
    </ion-avatar>
    <ion-label class="names">
      <h2>Esmeralda Barajas</h2>
      <p>Web Design</p>
    </ion-label>
  </ion-item>
  <div class="version">
    <p>Ongrass v1.2.0 Ionic framework | Angular </p>
  </div>

</ion-content>
